html
*.dblite
*.o
*.swp
*.pyc
*.exe
*.db
*.png
*.jpeg
test
test_XML
test_qt_RoundObjects
test_qt
test_movement
test_kill_method
test_killNmo_method
test_GetCurrentObject
test_CyclicQueue
test_insert
test_CellObject_GetCoord
test_CellObject_GetType
test_XML_get_gui
test_XML_wrong_file
test_qt_remove_fieldpixmap
*tui
evolva_gole_gui.pro.user
evolva_gole_gui.pro.user*
moc*
ui_dialog.h
gui.xml
scripts/sprites/
