html
*.dblite
*.o
*.swp
*.pyc
*.exe
*.db

test_XML
test_qt_RoundObjects
test_qt
test_movement
test_kill_method
test_killNmo_method
test_GetCurrentObject
test_CyclicQueue
test_insert
test_CellObject_GetCoord
test_CellObject_GetType
test_XML_get_gui
test_XML_wrong_file
test_qt_remove_fieldpixmap
test_qt_streamOperator_logWindow
test_qt_logWindow
test_FleshObject
test_DialogProxy
test_Application
test_dialog_memLeak

evolva_gole_gui.pro.user
evolva_gole_gui.pro.user*
moc*
ui_dialog.h

